.card {
  display: flex;
  flex-direction: column;
  height: 24rem;
  width: 12rem;
  align-items: center;
  border-radius: 1rem;
  align-items: center;
}

.card:hover {
  background-color: #dcdcdc;
  transition: linear 100ms;
}

.card:active {
  background-color: #bbbbbb;
  transition: linear 100ms;
}

.card__image-wrapper {
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image {
  max-height: 16rem;
  max-width: 12rem;
}

.card__book-name {
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: center;
  padding: 0.2rem;
}

.card__book-author {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
  letter-spacing: 0em;
  text-align: center;
  padding: 0.2rem;
}

.card__price {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.25rem;
  letter-spacing: 0em;
  text-align: center;
  color: var(--readee-green);
  padding: 0.2rem;
}