.main-page__flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.main-page__content-container {
  display: flex;
  flex-grow: 1;
}

.main-page__footer-container {
  margin-top: auto;
}

.loading-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12rem 0;
}

.loading-wrapper--small {
  padding: 9rem 0;
}

.loading-wrapper--big {
  padding: 20rem 0;
}