:root {
  --background-color: var(--beige);
  --beige: #f8f7f1;
  --secondary-color: var(--readee-green);
  --readee-green: #59b974;
  --readee-green-hover: rgba(84, 165, 109, 1);
  --readee-green-active: rgba(69, 145, 96, 1);
  --readee-white: rgba(255, 255, 255, 1);
  --icon-background: 35px;
  --min-value: min(10%, 1000px);
  --light-green: #dfeae5;
  --light-green-hover: #acb4b1;
  --light-green-active: #858b89;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
}
