h2 {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.2rem;
  letter-spacing: 0em;
  text-align: left;
}

.basepage-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: stretch;
  margin: 2vh 10vw;

}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 20rem;
}

.list-button {
  display: flex;
  flex-direction: column;
}

.buy-books-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sell-books-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.green-button {
  background: var(--readee-green);
  border-radius: 2rem;
  width: 12rem;
  height: 1.5rem;
  padding: 1rem 3rem;
  margin: 1rem;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: center;
}

.green-button:hover {
  background: var(--readee-green-hover);
  cursor: pointer;
}

.green-button:active {
  background: var(--readee-green-active);
}

.green-button--smaller {
  width: fit-content;
  height: fit-content;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

.big-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-text {
  padding: 1rem 0;
  text-align: center;
}

.big-text--green {
  color: var(--readee-green);
  text-align: center;
}

.books-wrapper {
  margin: 1rem 0;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}

.basepage__category {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}

@media only screen and (min-width: 900px) {
  .basepage-wrapper {
    margin: 2vh 15vw;
  }
  .big-text {
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 4.25rem;
    letter-spacing: 0.19rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .green-button {
    text-transform: uppercase;
    color: var(--readee-white);
    padding: 1.1rem 1.8rem;
  }

  .green-button--smaller {
    text-transform: capitalize;
    padding: 0.5rem 1.5rem;

  }

  .books-wrapper {
    margin: 1rem 0;
    display: flex;
    flex-grow: 1;
    width: 100%;
  }

  .basepage__category-wrapper {
    width: 100%;
  }
  
  
  @media only screen and (max-width: 1530px) {
    .basepage-wrapper {
      margin: 2vh 10vw;
    }
  }
  @media only screen and (max-width: 1187px) {
    .basepage-wrapper {
      margin: 2vh 5vw;
    }
  }
}

