.heading {
  margin: 1.5rem 0;
}
.accordion-container {
  margin: 2rem 20vw;
}

.img-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1rem 0;
}
.img-container__img {
  width: 30%;
  min-width: 150px;
}
