.registration {
  margin-top: 5vh;
  flex-grow: 2;
  padding: 0 15vw;
}

.page-header {
  align-self:flex-start;
}

.registration__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration__form-items {
  list-style: none;
  max-width: 29rem;
}

.form-item {
  margin: 0.3rem;
}


.registration__error {
  font-size: 0.8rem;
  color: rgb(144, 69, 69);
  margin-top: 0;
  margin-left: 1rem;
}

.registration__error--hide {
  visibility: hidden;
}

.registration__text-field {
  border-radius: 1.2rem;
  line-height: 2rem;
  padding: 0.5rem;
  color: #505050;
  width: 100%;
  font-size: 1.3rem;
  border: 1px solid #000000;

  font-family: Montserrat;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: left;

}

.label {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.submit-button {
  border-radius: 2rem;
  width: fit-content;
  padding: 0.5rem 3rem;
  margin: 1rem;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: center;
}

.submit-button:hover {
  cursor: pointer;
}

.submit-button--green:hover {
  cursor: pointer;
  background: var(--readee-green-hover);

}

.submit-button--green:active {
  background: var(--readee-green-active);
}

.submit-button--green {
  background: var(--readee-green);
  color: var(--readee-white);
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 760px) {
  .buttons-wrapper {
    flex-direction: row;
  }
}