.account-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}
.personal-info-container,
.password-container {
  width: 45%;
  margin-left: 2rem;
}

.personal-info-container h3,
.password-container h3 {
  background-color: #f8f7f1;
  padding: 1rem 0.75rem;
  border-radius: 7px;
}
.delivery-form-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.account__form {
  margin: 2rem 0;
  width: 100%;
}
.submit-button-container--disabled {
  display: none;
}
.submit-button-container--editable {
  display: flex;
  justify-content: center;
}
.registration__error {
  font-size: 0.8rem;
  color: rgb(144, 69, 69);
  margin-top: 0;
  margin-left: 1rem;
}

.registration__error--hide {
  visibility: hidden;
}
