.error404 {
}

.error404__title {
  text-align: center;
  font-weight: 900;
  font-size: 38;
}

.error404__description {
  max-width: 540px;
  margin: 2rem auto;
}

.error404__content {
  padding-top: 220px;
  z-index: 1;
  text-align: center;
}